.footer {
    padding: 70px 0 0 0;
    background-color: $footer-background;
    color: #ffffff;
    font-size: 1.1rem;

    &__logo {
        height: 38px;
    }

    &__about {
        p {
            margin-bottom: 2rem;
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &__border{
        border-top: 1px solid #d2d2d7;
        width: 80%;
        margin: 15px 0;
    }

    &__content {
        p {
            margin-bottom: 1.25rem;
        }
        hr{
            margin: 0 !important;
            height: 0 !important;
        }
    }

    &__buttom{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
	    width: 100%;
    }

    &__copyright__text {
        padding: 20px 0;
    
        p {
            color: #b7b7b7;
            margin-top: 16px;
    
            i {
                color: #e53637;
            }
    
            a {
                color: #e53637;
            }
        }
    }
    
    
    
    
    &__img {
        
        padding: 20px 0;
        
    }
}
