.product-card {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 10px;
    position: relative;

    &__image {
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;

            &:nth-child(1) {
                transform: translateX(-50%) scale(1);
                transition: transform 0.5s ease;
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(0);
            }
        }

        &:hover img {
            &:nth-child(1) {
                transform: translateX(-50%) scale(0);
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(1);
                transition: transform 0.5s ease;
            }
        }
    }

    &__name {
        margin-bottom: 10px;
        color: $txt-main-color;
        font-size: 1.5rem;
        font-weight: normal;
        font-weight: 500;
        height: 40px;
    }

    &__price {
        color: $txt-second-color;
        font-size: 1.25rem;
        margin-bottom: 10px;
        height: 50px;
        width: 100%;
       
        &__old {
            color: $txt-second-color;
            margin-left: 20px;
            font-weight: 300;
            text-align: right;
        }
        
    }

    &__btn {
        @include tablet {
            display: none;
        }
    }
}
.product-card__btn button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    

    display: inline-block;
    
    text-align: center;
    
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}