.search-model {
	display: none;

	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99999;
	-webkit-transition: all, 0.6s;
	-o-transition: all, 0.6s;
	transition: all, 0.6s;
}

.search-display{
	display: block;
}

.search-model-form {
	width: 100%;
	/* margin: 0 20px 0 20px; */
	background-color: #fa8c16;
	height: 50px;
}

.input_container{
	position: relative;
	width: 600px;
	height: 50px;
	margin: 0 auto;
	font-size: 22px;
	border-radius: 10px 10px 0 0;
	background: #fa8c16;
}

.input_container .input{
	height: 50px;
	width: 100%;
	background: #fa8c16;
	color: #fff;
	border: 0;
	border-radius: 10px;
	padding-left: 33px;
	font-size: 17px;
	margin-top: 2px;
}

.search_seggest{
	position: absolute;
	width: 600px;
	height: 100px;
	border-radius: 0 0 10px 10px;
	background: #fff;
	padding: 0.5rem 0;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	
}

.search_seggest p{
	padding: 8px 20px 8px 25px;
    color: #444;
    font-size: 1rem !important;
    text-align: left !important;
    list-style: none !important;
}
.input_img{
	position: absolute;
	bottom: 16px;
	margin-left: 12px;
	height: 17px;
	width: 17px;
}

.search-close-switch {
	position: absolute;
	/* width: 50px;
	height: 50px; */
	/* background: #333; */
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 10px;
	right: 7px;
    /* margin-right: 0px; */
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

::placeholder { 
    color: #ffffff;
    opacity: 1;
  }

  .overlay{
	width: 100%;
	height: 2000px;
	position: fixed;
	background-color: transparent;
}